body {
    background-color: #f1f1f1;
}

header {
    /* border: 2px solid black; */
    height: 80px;
    display: flex;
    align-items: center;
    background-color: aquamarine;
    margin-bottom: 50px;
}

.container {
    max-width: 1180px;
    width: 95%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

.myflex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 48px;
    color: hotpink;
}

ul {
    display: flex;
    gap: 40px;
}

li a {
    font-size: 32px;
    color: rgb(56, 83, 9);
}

.fa-bars {
    display: none;
}



.cardswrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 40px;
}



.card {
    width: 362px;
    /* border: 2px solid black; */
    border-radius: 5px;
    background-color: white;
}

.card img {
    margin-bottom: 30px;
    width: 100%;
}
.card h3 {
    margin-bottom: 30px;
    color: #000;
    font-family: Roboto;
    font-size: 26px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px;
}

.card p {
    color: #8a8787;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 5px;
}
